<!DOCTYPE html>
<html lang="it">
<head>
{% load static %}
  <title>Sharkommerce Portal</title>
    <!--questi sono per la responsiveness-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS di Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- questa è roba di javascript che non dovrebbe servire ma lo scopriremo alla fine -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Questo è per le icone -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'sharkommerce/favicon.jpg' %}" sizes="64x64"/>

    <!-- link allo stylesheet esterno -->
    <link rel="stylesheet" type="text/css" href="{% static 'sharkommerce/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sharkommerce/profiles.css' %}"/>

</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-3">Sharkommerce</h1>
        <p class="lead">Un oceano per l'acquaristica</p>
    </div>

    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">Sharkommerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'sharkommerce:index' %}">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sharkommerce:products' %}">Prodotti</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav ml-auto">
            {% if not request.user.is_authenticated %}
                <a href='{% url 'sharkommerce:login' %}' title="login"><i
                        style="margin-right: 1.0em; color: #EEEEEE;{% if request.user.is_authenticated %}display: none;{% endif %}"
                        class="fas fa-sign-in-alt "> login </i></a>
                <a href="{% url 'sharkommerce:register' %}" title="register"><i
                        style="margin-right: 1.0em; color: #EEEEEE; {% if request.user.is_authenticated %}display: none;{% endif %}"
                        class="fas fa-user-plus "> register </i></a>
            {% else %}
                <div class="mr-2" style="color:white ">Benvenuto, {{ request.user.username }}</div>
                <a href='{% url 'sharkommerce:profile' request.user.id %}' title="profile"><i style=" color: #eeeeee;"
                                                                                              class="fas fa-user-alt mr-1">
                    profile </i></a>
            {% endif %}
            <a href='{% url 'sharkommerce:logout' %}' title="logout"><i
                    style=" color: #EEEEEE; {% if not request.user.is_authenticated %}display: none;{% endif %}"
                    class="fas fa-sign-out-alt mr-1"> logout </i></a>
            {% if not is_seller %}
            <a href="{% url 'sharkommerce:cart' %}" title="cart"><i style=" color: #EEEEEE"
                                                                    class="fas fa-cart-plus mr-1"> cart </i></a>
            {% endif %}
        </div>
    </nav>

    {% block content %} {% endblock content %}

    <!-- footer -->
    <div class="navbar fixed-bottom"style="height:40px; background-color: #000000">
        <p class= "text-white"> Sharkommerce é un progetto per il corso di linguaggi dinamici.</p>
    </div>

</body>
</html>