{% extends 'sharkommerce/base.html' %}

{% load static %}
{% block content %}

    <div class="container emp-profile">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if messages %} {# testalo anche con le reviews sui prodotti #}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for mess in messages %}
                    {% if mess.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <p>{{ mess }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
                <div class="profile-head">
                    <h5> Username: {{ buyer.user.username }} </h5>
                    {% if owner %}
                        <h6> Indirizzo: {{ buyer.address }}  </h6>
                        <h6> Data di nascita: {{ buyer.birth_date|date:"d M Y"  }}</h6>
                    {% else %}
                        <h6>Numero recensioni ai venditori: N</h6>
                        <h6>Numero recensioni dei prodotti: N</h6>
                    {% endif %}
                   <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#recensioni_prodotti" role="tab"
                               aria-controls="home" aria-selected="true">Recensioni prodotti</a>
                        </li>
                        <li>
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#recensioni_venditori" role="tab"
                               aria-controls="profile" aria-selected="false">Recensioni venditori</a>
                        </li>
                       {% if owner %}
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#prodotti_acquistati" role="tab"
                                   aria-controls="profile" aria-selected="false">Acquisti</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="tab-content profile-tab" id="myTabContent">
            {% if owner %}
                <div class="tab-pane fade" id="prodotti_acquistati" role="tabpanel"
                     aria-labelledby="profile-tab">
                    <div class="row mx-auto my-auto">
                        {% if purchases|length == 0 %}
                            <p style="text-align: center; margin-top: 20px"> Nessun acquisto ancora effettuato</p>
                        {% else %}
                            {# creo un carosello che faccia scorrere i prodotti in vendita #}
                            <div id="productsBoughtCarousel" class="carousel slide w-100" data-ride="carousel">
                                <div class="carousel-inner w-100" role="listbox">
                                    {% for elem in purchases %}
                                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                            <div class="col-sm-4">
                                                <div class="card card-body">
                                                    <img class="card-img-top" src="{{ elem.product.image.url }}"
                                                         alt="Card image cap"
                                                         style="max-width: 200px; max-height: 300px; object-fit: scale-down">
                                                    <h5 class="card-title"><a
                                                            href="{% url 'sharkommerce:item' elem.product.id %}">{{ elem.product.name }}</a>
                                                    </h5>

                                                    <div>
                                                        <p class="card-text"> Data: {{ elem.date|date:"d M Y" }}</p>
                                                        <p class="card-text"> Prezzo cad: {{ elem.price }} €</p>
                                                        <p class="card-text"> Qta: {{ elem.qty }} </p>
                                                    </div>
                                                    <button type="button" data-toggle="modal" data-target="#productReviewModal"class="btn btn-primary" onclick="get_purch_id({{ elem.id }})" style="margin-top: 10px">Recensisci</button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev w-auto" href="#productsBoughtCarouselCarousel"
                                   role="button"
                                   data-slide="prev">
                                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                                              aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next w-auto" href="#productsBoughtCarousel" role="button"
                                   data-slide="next">
                                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                                              aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="tab-pane fade show active" id="recensioni_prodotti" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        {% if prod_reviews|length == 0 %}
                            <p>Ancora nessuna recensione a prodotti </p>
                        {% else %} {# da testare #}
                            <div class="container">
                                {% for rev in prod_reviews %}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h6>Prodotto: <a
                                                    href="{% url 'sharkommerce:item' rev.purchase.product.id %}">{{ rev.purchase.product.name }} </a>
                                            </h6>
                                            <div class="profile-rating">Data: {{ rev.date|date:"d M Y" }}</div>
                                        </div>
                                        <div class="col-sm-3">
                                            <img class="card-img-top" src="{{ rev.purchase.product.image.url }}"
                                                 alt="Card image cap"
                                                 style="max-width: 200px; max-height: 300px; object-fit: scale-down">
                                        </div>
                                        <div class="col-sm-5">
                                            {% if not is_logged %}
                                                <i style="color: darkblue">Accedi per leggere le recensioni</i>
                                            {% else %}
                                            <h6 style="font-weight:bold"> {{ rev.title }}</h6>
                                            <h6> {{ rev.description }}</h6>
                                            {% endif %}
                                            <h6 style="font-weight:bold">Voto: {{ rev.vote }}/10</h6>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>


                <div class="tab-pane fade" id="recensioni_venditori" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        {% if sel_reviews|length == 0 %}
                            <p>Ancora nessuna recensione a venditori </p>
                        {% else %}
                            <div class="container">
                                {% for rev in sel_reviews %}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h6>Venditore: <a
                                                    href="{% url 'sharkommerce:profile' rev.seller.user.id %}">{{ rev.seller }} </a>
                                            </h6>
                                            <div class="profile-rating">Data: {{ rev.date|date:"d M Y" }}</div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h6 style="font-weight:bold"> {{ rev.title }}</h6>
                                            <h6> {{ rev.description }}</h6>
                                            <h6 style="font-weight:bold">Voto: {{ rev.vote }}/10</h6>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Modal -->
    {# questa permette all'utente di inserire recensioni #}
<div class="modal fade" id="productReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recensione Prodotto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="post" action="{% url 'sharkommerce:product_review' %}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-inline">
                    <label class="col-form-label" for="selRevVote"
                           style="padding-right:10px">{{ prod_review_form.vote.label }}</label>
                    {{ prod_review_form.vote }}
                </div>
                    <div class="form-inline" style="padding-top: 10px">
                        <label class="col-form-label" for="selRevTitle"
                               style="padding-right:10px">{{ prod_review_form.title.label }}</label>
                        {{ prod_review_form.title }}
                    </div>
                    <div class="form-inline" style="padding-top: 10px">
                        <label class="col-form-label" for="selRevDescr"
                               style="padding-right:10px">{{ prod_review_form.description.label }}</label>
                        {{ prod_review_form.description }}
                    </div>
                <div> {{ prod_review_form.purch_id }} </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Return</button>
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        </form>
    </div>
  </div>
</div>

    <script src="/static/sharkommerce/carousel_sold_prods.js"></script>
    <script>
        function get_purch_id(purch_id){
            console.log(purch_id)
            var purch_rev_id = document.getElementById("purch_id_review")
            purch_rev_id.value=purch_id
    }
            /*questo serve per gli eventuali alert sugli inserimenti della productReview. Se resta tempo, puoi farlo in un modo un po' più carino*/
 {% comment %}       {% if messages %}
            {% for message in messages %}
                alert("{{ message }}")
            {% endfor %}
        {% endif %}{% endcomment %}
    </script>




{% endblock %}