{% extends 'sharkommerce/base.html' %}
{% load filters %}
{% block content %}
    {% if items|length == 0 %}
        <h4 style="text-align: center; margin-top: 20px"> ancora nessun elemento nel carrello</h4>
    {% else %}
        <h4 style="text-align: center; margin-top: 20px"> Elementi nel carrello:</h4>
        {% if errors or messages %} {# prende tutti i messages #}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ errors }}
                {% for mess in messages %}
                    {% if mess.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <p>{{ mess }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% for elem in items %}
            <div class="card w-50 mx-auto" style="margin-top: 20px; margin-bottom: 20px">
                <div class="card-body">
                    <div class="row justify-content:center">
                        <div class="col-md-4">
                            <img src="{{ elem.image.url }}" style="max-width: 200px; max-height: 300px;">
                        </div>
                        <div class="col-md-7 mx-auto">
                            <h3><a href="{% url 'sharkommerce:item' elem.id %}">{{ elem.name }}</a></h3>
                            <p>Prezzo: {{ elem.price }} €</p>
                            {% for id,qty in prod_qty.items %}
                                {% if elem.id|slugify == id %}
                                    <p>Quantita': {{ qty }}</p>
                                    <p>Tot parziale: {{ elem.price | multiply:qty }} €</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-1">
                            <form method="post" enctype="multipart/form-data"
                                  action="{% url 'sharkommerce:removeFromCart' elem.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn">
                                    <i class="fas fa-trash-alt" value="{{ elem.id }}"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <hr>
        <div class="row" style="justify-content:center; margin-bottom: 50px">
            <h4 style="margin-right: 20px">Tot: {{ tot }} €</h4>
            <form method="post" enctype="multipart/form-data" action="{% url 'sharkommerce:purchase' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Acquista">
            </form>
        </div>
    {% endif %}

{% endblock %}

