
{% extends 'sharkommerce/base.html' %}
{% load static %}
{% block content %}
 <!-- Questo è il carousel -->
<div id="demo" class="carousel slide" data-ride="carousel" style="margin-top:50px; margin-bottom: 80px">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block mx-auto" src="{% static "sharkommerce/main_carousel_images/vasca1.jpg" %}" alt="marino" >
            <div class="carousel-caption">
                <h3>Marino</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block mx-auto" src="{% static "sharkommerce/main_carousel_images/vasca2.jpg" %}" alt="iwagumi">
            <div class="carousel-caption">
                <h3>Iwagumi</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block mx-auto" src="{% static "sharkommerce/main_carousel_images/vasca3.jpg" %}" alt="malawi">
            <div class="carousel-caption">
                <h3>Malawi</h3>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

{% endblock %}
