{% if categories %}
<ul>
    {%  for cat in categories %}
    <li>
        <a href="{% url 'sharkommerce:item' cat.id %}">{{ cat }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
    <p>No items available.</p>
{% endif %}