
{% extends 'sharkommerce/base.html' %}
{% load static %}
{% load filters %}
{% block content %}

    {# card prodotto #}
    <div class="card mx-auto" style=" width: 25rem; margin-top: 50px; margin-bottom: 50px">
        <h3 style="text-align: center" class="card-title">{{ item.name }}</h3>
        <img class="card-img-top mx-auto" src="{{ item.image.url }}" alt="Card image cap" style="max-width: 200px; max-height: 300px; object-fit: scale-down">
        <div class="card-body">
            <div class="row">
                <p>{{ item.description }}</p>
            </div>
            <div class="row">
                Prezzo cad: {{ item.price }} €
            </div>
            <div class="row">
                Media recensioni prodotto: {{ avg_rate }}
                {% comment %}{% if avg_rate == 0%}
                    Ancora nessuna recensione
                {% else %}
                    {{ avg_rate }}
                {% endif %}{% endcomment %}
            </div>
        <div class="row">
            <p>Venditore: <a href="{% url 'sharkommerce:profile' item.seller.user.id %}">{{ item.seller }}</a> - Media
                recensioni: {{ item.seller.calculateAverageRate }}</p> {# bisogna calcolare la media delle recensioni già nel model. #}
        </div>
        <form id="item-form" class="form" method="post">
            {% csrf_token %}
            <div class="row">
                <div style="white-space:nowrap">
                    {% if not item.is_available %}
                        <p style="color:darkred">Momentaneamente non disponibile</p>
                    {% else %}
                        <label>{{ item_form.qty.label }}</label>
                        {{item_form.qty}}
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 20px">
            {# controlla che non venga rimesso attivo anche dalla view #}
                <input type="submit" class="btn btn-primary" value="Aggiungi al carrello" {% if item.qty == 0 %} disabled {% endif %}></input>
            </div>
        </form>
        </div>
    </div>
    <hr>

    {# carousel per le review del prodotto #}
    <h3 style="text-align: center">Cosa dicono del prodotto</h3>
    <div class="container" style="margin-bottom: 50px">
        {# carousel con le recensioni #}
        <div class="row mx-auto my-auto">
            <div id="prodReviewsCarousel" class="carousel slide w-100" data-ride="carousel">
            {% if reviews|length == 0 %}
        <p style="text-align: center">Ancora nessuna recensione per il prodotto</p>
    {% else %}
                <div class="carousel-inner w-100" role="listbox">
                    {% for rev in reviews %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                            <div class="col-md-4">
                                <blockquote class="blockquote text-center">
                                    {% if not is_logged %}
                                        <i style="color:darkblue">Accedi per leggere la recensione</i>
                                    {% else %}
                                        <h5>{{ rev.title }}</h5>
                                        <p class="mb-0">{{ rev.description }}</p>
                                    {% endif %}
                                    <p>Voto: {{ rev.vote }}</p>
                                    <footer class="blockquote-footer"><a
                                            href="{% url 'sharkommerce:profile' rev.purchase.buyer.user.id %}">{{ rev.purchase.buyer.user.username }}</a><cite
                                            title="Source Title">
                                        {{ rev.date|date:"d M Y" }}</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev w-auto" href="#prodReviewsCarousel" role="button"
                   data-slide="prev">
                                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                                              aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next w-auto" href="#prodReviewsCarousel" role="button"
                   data-slide="next">
                                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                                              aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    {% endif %}
    </div>

    {# prodotti consigliati #}
    <h3> Consigliati con questo prodotto</h3>
    <div class="row" style="margin-bottom: 50px">
        {% for elem in recommended_items %}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'sharkommerce:item' elem.id %}">{{ elem.name }}</a></h5>
                        <img class="card-img-top rounded-circle border border-primary" src="{{ elem.image.url }}"
                             alt="Card image cap" style="max-width: 160px; max-height: 160px; object-fit: scale-down">
                        <p class="card-text">Prezzo: {{ elem.price }} € </p>
                        <p class="card-text">Venditore: <a
                                href="{% url 'sharkommerce:profile' elem.seller.user.id %}">{{ elem.seller }}</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <script src="/static/sharkommerce/carousel_sold_prods.js"></script>

{% endblock %}
