
{% extends 'sharkommerce/base.html' %}
{% block content %}

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <section class="w3-container w3-margin-bottom">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        {% if errors or messages %}
                            <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{errors}}
                                {% for error in messages %}
                                    <p>{{error}}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <form id="login-form" class="form" action="" method="post">
                            {% csrf_token %}
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                {{ login_form.username }}
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                {{ login_form.password }}
                            </div>
                            <div class="form-group">
                               <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="{%  url 'sharkommerce:register' %}" class="text-info">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </div>
</body>

{%  endblock %}
