{% extends 'sharkommerce/base.html' %}
{% block content %}
    <h5 style="margin-top: 20px; text-align:center ">Seleziona i filtri che preferisci</h5>
    <div class="container">
        <form id="filters_form" class="form row justify-content-center" method="post">
            {% csrf_token %}
            <div class="row" style="margin-top: 20px">
                <div class="col-md-2">
                    <label class="control-label">{{ filters_form.categories.label }}</label>
                    {{ filters_form.categories }}
                    <label class="control-label">{{ filters_form.subcategories.label }}</label>
                    {{ filters_form.subcategories }}
                </div>
                <div class="col-md-5">
                    <label for="customRange1">Prezzo</label>
                    {{ filters_form.price }}
                    <p>Max: <span id="maxPrice"></span> ( € )</p>
                </div>
                <div class="col-md-4">
                    <div> {{ filters_form.reviews }} </div>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="form-group">
                            <label> Media minima recensioni prodotto</label>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                {% with ''|center:10 as range %}
                                    {% for i in range %}
                                        <button type="button" class="btn btn-secondary"
                                                onclick="getVoteMin({{ forloop.counter }})">{{ forloop.counter }}</button>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 align-self-center text-center">
                    <input class="btn btn-primary btn-md" name="filtra" type="submit" value="Filtra">
                </div>
            </div>
        </form>
    </div>
 <hr>
    <h3 style="text-align: center">Prodotti:</h3>
    {% if products|length == 0 %}
        <h3 style="text-align: center">Nessun prodotto disponibile</h3>
    {% else %}
        {% for prod in products %}
            <div class="card w-75 mx-auto" style="margin-top: 20px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ prod.image.url }}" style="max-width: 200px; max-height: 300px;">
                        </div>
                        <div class="col-md-4">
                            <h3><a href="{% url 'sharkommerce:item' prod.id %}">{{ prod.name }}</a></h3>
                            <p>Prezzo: {{ prod.price }} €</p>
                            <p>Venditore: <a
                                    href="{% url 'sharkommerce:profile' prod.seller.user.id %}">{{ prod.seller }}</a>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p style=" border:1px; border-style:solid;  border-color: #0062cc; padding: 1em;">{{ prod.description }}</p>

                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    {% endif %}


    <script>
    function getVoteMin(vote){
        form_avg_min = document.getElementById("avgVoteMin")
        form_avg_min.value = vote
        console.log("Vote clicked " + form_avg_min.value)
    }

    var slider = document.getElementById("myRange");
    var output = document.getElementById("maxPrice")
    // se l'utente non seleziona un valore, si setta come scelto il valore massimo spendibile.
    output.innerHTML = "Seleziona il prezzo massimo";
    slider.value=filters_form.price.max;

    //per aggiornare il valore del prezzo massimo
    slider.oninput = function () {
        output.innerHTML = this.value;
    }

    //questa è la update subcats di new_products
    let subcat_filter = document.getElementById("subcat_filter")
    let cat_filter = document.getElementById("cat_filter")

     let categories = {
            {% for cat, subcat in categories.items %}
                "{{ cat }}": [
                    {% for sub in subcat %}
                        "{{ sub }}",
                    {% endfor %}
                ],
            {% endfor %}
        }

    function category_filter_changed(){
        let items = subcat_filter.length
            if (items > 0) {
                for (let i = 0; i < items; i++)
                    subcat_filter.remove(0)
            }
        if (cat_filter.value === "")
            subcat_filter.setAttribute("disabled", null)
        else {
            subcat_filter.removeAttribute("disabled")
            selected_cat = $(cat_filter).find("option:selected").text()
            subcats = categories[selected_cat]

            //aggiungiamo sempre un campo vuoto per dare la possibilità all'utente di non selezionare alcuna sottocategoria,
            //ma filtrare solo per categoria
            tag = document.createElement("option")
            tag.innerHTML = ""
            subcat_filter.append(tag)

            for (i = 0; i < subcats.length; i++) {
                tag = document.createElement("option")
                tag.innerHTML = subcats[i]
                subcat_filter.append(tag)
            }
        }
    }
    category_filter_changed()
    </script>
{% endblock %}

