
{% extends 'sharkommerce/base.html' %}


{% block content %}

	<div id="register">
    	<div class="container">
        	<div id="register-row" class="row justify-content-center align-items-center">
            	<div id="register-column" class="col-md-6">
               		<div id="register-box" class="col-md-12" >
                        {% if errors %}
                            <div class="alert alert-dismissible alert-danger" >
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {% for k, v  in errors.items %}
                                    {% for values in v %}
                                        <p class="text-danger">* {{ values }} *</p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                  		<form id="register-form" class="form" method="post">
		  				{% csrf_token %}
                     	<h3 class="text-center text-info">Registrazione</h3>
						<!--username-->
                        <div class="form-group">
                           	<label for="username" class="text-info">Username:</label><br>
							{{ register_form.username }}
                        </div>
			 			<!-- E-mail -->
                        <div class="form-group">
                            <label for="email" class="text-info">E-mail:</label><br>
			 				{{ register_form.mail }}
     					</div>
			 			<!-- Password-->
                        <div class="form-group">
       			   			<label for="password" class="text-info">Password:</label><br>
							{{ register_form.password }}
      			 		 </div>
						 <!-- Password di conferma -->
                         <div class="control-group">
       			    	 	<label for="control_password" class="text-info">Password(Conferma):</label><br>
							{{ register_form.control_password }}
     			 		</div>
			 			<!--tipo-->
   			  			<div class="control-group">
							<div class="text-info" style="margin-top: 1.0em">Sono un:</div>
							{% for radio in register_form.tipo %}
				    			<label for="{{ radio.id_for_label }}" style="margin-top:0.5em" >
									<span class="radio" >{{ radio.tag }}</span>
				        			{{ radio.choice_label }}
				   				</label>
							{% endfor %}
			  			</div>
			 			 <!-- nome del negozio per i venditori -->
                         <div class="control-group" id ="id_negozio" style="display: None">
       			    		<label for="control_nome_store" class="text-info" style="margin-top: 1.0em" >Nome del negozio:</label><br>
								{{ register_form.negozio }}
     					 </div>
						<!--indirizzo-->
						<div class="control-group" id ="id_indirizzo">
       			    		<label for="control_indirizzo" class="text-info" style="margin-top: 1.0em">Indirizzo:</label><br>
								{{ register_form.indirizzo }}
     			 		</div>
                         <!-- data di nascita per gli acquirenti -->
                         <div class="control-group" id ="id_data_nascita" style="display: None">
       			    		<label for="control_data_nascita" class="text-info" style="margin-top: 1.0em" >Data di nascita:</label><br>
								{{ register_form.data_nascita }}
     					 </div>
			 			<!-- Bottone di registrazione -->
                            <input class="btn btn-info btn-md" type="submit" value="Registrami" style="margin-top: 1.5em">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- javascript link file name  -->
    <script src="/static/sharkommerce/register-choose_button.js"></script>


{% endblock %}

