{% extends 'sharkommerce/base.html' %}

{% load static %}
{% block content %}
    <div class="container emp-profile">
        <div class="row justify-content-center">
            {% if type_visitor == "Buyer" %}
                <div class="col-md-4 " style="text-align:center">
                    <div>Hai acquistato da questo venditore?</div>
                    <button type="button" data-toggle="modal" data-target="#sellerReviewModal" class="btn btn-primary">Recensiscilo!</button>
                </div>
            {% endif %}
            <div class="col-md-6">
                {% if errors %}
                    {% for k, v  in errors.items %}
                        {% for values in v %}
                            <p class="text-danger">* {{ values }} *</p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <div class="profile-head">
                    <h5> Username: {{ seller.user.username }} </h5>
                    <h6>Negozio: {{ seller.store }} </h6>
                    <p class="profile-rating">PUNTEGGIO :
                        <span>
                            {% if not seller.calculateAverageRate %}
                                Ancora nessun voto
                            {% else %}
                                {{ seller.calculateAverageRate }}/10
                            {% endif %}
                        </span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#prodotti" role="tab"
                               aria-controls="home" aria-selected="true">Prodotti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#recensioni" role="tab"
                               aria-controls="profile" aria-selected="false">Recensioni</a>
                        </li>
                        {% if owner %}
                            <li>
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#vendite" role="tab"
                                   aria-controls="profile" aria-selected="false">Vendite</a>
                            </li>
                            <li>
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#nuovo_prod" role="tab"
                                   aria-controls="profile" aria-selected="false">Nuovo Prodotto</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="prodotti" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row mx-auto my-auto">
                        {% if products|length == 0 %} {# controlla funzioni #}
                            <p style="text-align:center; margin-bottom: 20px"> Nessun prodotto ancora in vendita,
                                aggiungine dalla tab "Prodotti"</p>
                        {% else %}
                            {# creo un carosello che faccia scorrere i prodotti in vendita #}
                            <div id="productsSoldCarousel" class="carousel slide w-100" data-ride="carousel">
                                <div class="carousel-inner w-100" role="listbox">
                                    {% for elem in products %}
                                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                            <div class="col-md-4">
                                                <div class="card card-body">
                                                    <img class="card-img-top" src="{{ elem.image.url }}"
                                                         alt="Card image cap"
                                                         style="max-width: 200px; max-height: 300px; object-fit: scale-down">
                                                    <h5 class="card-title"><a
                                                            href="{% url 'sharkommerce:item' elem.id %}">{{ elem.name }}</a>
                                                    </h5>
                                                    <p class="card-text"> {{ elem.description }}</p>
                                                    <p class="card-text"> Prezzo cad: {{ elem.price }} €</p>
                                                    <p class="card-text"> Stock: {{ elem.qty }} </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                                <a class="carousel-control-prev w-auto" href="#productsSoldCarousel" role="button"
                                   data-slide="prev">
                                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                                              aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next w-auto" href="#productsSoldCarousel" role="button"
                                   data-slide="next">
                                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                                              aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="tab-pane fade" id="recensioni" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        {% if reviews|length == 0 %}
                            Ancora nessuna recensione
                        {% else %}
                            <div class="container">
                                {% for rev in reviews %}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <h6>Acquirente: <a
                                                    href="{% url 'sharkommerce:profile' rev.buyer.user.id %}">{{ rev.buyer.user.username }} </a>
                                            </h6>
                                            <div class="profile-rating">Data: {{ rev.date|date:"d M Y" }}</div>
                                        </div>
                                        <div class="col-sm-8">
                                            {% if not is_logged %}
                                                <i style="color: darkblue">Accedi per visualizzare le recensioni</i>
                                            {% else %}
                                                <h6 style="font-weight:bold"> {{ rev.title }}</h6>
                                                <h6> {{ rev.description }}</h6>
                                            {% endif %}
                                            <h6 style="font-weight:bold">Voto: {{ rev.vote }}/10</h6>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {# tab vendite effettuate #}
                <div class="tab-pane fade" id="vendite" role="tabpanel" aria-labelledby="profile-tab">
                {% if purchases|length == 0 %}
                    <p style="text-align:center">Ancora nessuna vendita</p>
                    {% else %}
                    <div class="row mx-auto my-auto">
                        {# creo un carosello che faccia scorrere i prodotti venduti, ordinati per data ( dal più recente al più vecchio ) #}
                        <div id="sellsCarousel" class="carousel slide w-100" data-ride="carousel">
                            <div class="carousel-inner w-100" role="listbox">
                                {% for elem in purchases %}
                                    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                                        <div class="col-md-4">
                                            <div class="card card-body">
                                                <img class="card-img-top" src="{{ elem.product.image.url }} "
                                                     alt="Card image cap" style="max-width: 200px; max-height: 300px; object-fit: scale-down">
                                                <h5 class="card-title"> Prodotto: {{ elem.product.name }}</h5>
                                                <p class="card-text"> Acquirente: <a
                                                        href="{% url 'sharkommerce:profile' elem.buyer.user.id %}">{{ elem.buyer.user.username }}</a>
                                                </p>
                                                <p class="card-text"> Data
                                                    acquisto: {{ elem.date|date:"d M Y" }}</p>
                                                <p class="card-text"> Prezzo cad: {{ elem.price }} €,
                                                    Quantita': {{ elem.qty }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev w-auto" href="#sellsCarousel" role="button"
                               data-slide="prev">
                                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next w-auto" href="#sellsCarousel" role="button"
                               data-slide="next">
                                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                                              aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <h6 style="margin-top:20px">Statistiche vendite annuali</h6>
                {# collapsable per le statistiche di vendita degli anni #}
                {% for key,value in stat_years.items %}
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{ key }}" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            Anno: {{ key }}
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample{{ key }}">
                        <p> View annuale </p>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Tot</th>
                                <th scope="col">N Acquisti</th>
                                <th scope="col">Media/acquisto</th>
                                <th scope="col">N recensioni</th>
                                <th scope="col">Media recensioni</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-active">
                                {% for val in value %}
                                    <td>{{ val }}</td>
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>

                        <p> View mensile </p>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Mese</th>
                                <th scope="col">Tot</th>
                                <th scope="col">N Acquisti</th>
                                <th scope="col">Media/acquisto</th>
                                <th scope="col">N recensioni</th>
                                <th scope="col">Media recensioni</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-active">
                                {% for k,v in stat_months.items %}
                                    {% if k == key %}
                                        {% for v_months, v_val in v.items %}
                                            <tr>
                                                <th scope="row">{{ v_months }}</th>
                                                {% for month_data in v_val %}
                                                    <td>{{ month_data }} </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
                {% endif %}
                </div>

                {# tab nuovo prodotto #}
                <div class="tab-pane fade" id="nuovo_prod" role="tabpanel" aria-labelledby="profile-tab">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row">
                                {# foto #}
                                <div class="col-sm">
                                    <div class="profile-img">
                                        {% if product_form.image.url == None %}
                                            <img id="img_preview" src="{% static "sharkommerce/default-img.gif" %}"/>
                                        {% else %}
                                            <img id="img_preview" src="{{ product_form.image.url }}"
                                                 style="max-width: 300px; max-height: 300px;" on/>
                                            <p>product_form.image.url</p>
                                        {% endif %}
                                        {{ product_form.image }}
                                    </div>
                                </div>
                                {# info tranne descrizione #}
                                <div class="col-lg">
                                    <div class="row">
                                        <div class="col-sm">
                                            {{ product_form.category }}
                                        </div>

                                        <div class="col-sm">
                                            <div class="form-group">
                                                {{ product_form.subcategory }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group">
                                                {{ product_form.product }}
                                            </div>
                                        </div>

                                        <div class="col-sm">
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       for="inputDefault">{{ product_form.check_new_product }} {{ product_form.check_new_product.label }}</label>
                                                {{ product_form.new_product }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="form-group">
                                                <label class="control-label">{{ product_form.price.label }}</label>
                                                <div class="form-group">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">€</span>
                                                        </div>
                                                        {{ product_form.price }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm">
                                            <div class="form-group">
                                                <label class="col-form-label"
                                                       for="inputDefault">{{ product_form.quantity.label }}:</label>
                                                {{ product_form.quantity }}
                                            </div>
                                        </div>
                                    </div>
                                    {# descrizione #}
                                    <div class="col-ml">
                                        <div class="form-group">
                                            <label for="exampleTextarea">{{ product_form.description.label }}:</label>
                                            {{ product_form.description }}
                                        </div>
                                    </div>
                                    {# bottone per il submit #}
                                    <div class="col-ml">
                                        <button type="button " class="btn btn-primary float-right ">Inserisci</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    {# questa permette all'utente di inserire recensioni #}
<div class="modal fade" id="sellerReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recensione Venditore</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="post" action="{% url 'sharkommerce:seller_review' seller.user.id %}">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-inline">
                    <label class="col-form-label" for="selRevVote"
                           style="padding-right:10px">{{ seller_review_form.vote.label }}</label>
                    {{ seller_review_form.vote }}
                </div>
                <div class="form-inline" style="padding-top: 10px">
                    <label class="col-form-label" for="selRevTitle" style="padding-right:10px">{{ seller_review_form.title.label }}</label>
                    {{ seller_review_form.title }}
                </div>
                <div class="form-inline" style="padding-top: 10px">
                    <label class="col-form-label" for="selRevDescr" style="padding-right:10px">{{ seller_review_form.description.label }}</label>
                    {{ seller_review_form.description }}
                   {# <textarea class="form-control col" id="selRevDescr" rows="3"></textarea>#}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Return</button>
                <input type="submit" class="btn btn-primary" value="Submit"/>
            </div>
        </form>
    </div>
  </div>
</div>

    <!-- javascript link file name  -->
    <script>
        let categories = {
            {% for cat, subcat in categories.items %}
                "{{ cat }}": [
                    {% for sub in subcat %}
                        "{{ sub }}",
                    {% endfor %}
                ],
            {% endfor %}
        }

        /*questo serve per gli eventuali alert sugli inserimenti della sellerReview. Se resta tempo, puoi farlo in un modo un po' più carino*/
        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}")
            {% endfor %}
        {% endif %}
    </script>
    <script src="/static/sharkommerce/new_product.js"></script>
    <script src="/static/sharkommerce/carousel_sold_prods.js"></script>

{% endblock %}