
{% extends "admin/base.html" %}

{% block title %}{{ title }} | Sharkommerce admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"> Sharkommerce admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}