/* style.css */

/* Make the image fully responsive */
  .carousel-inner img {
    width: 90%;

  }


#login .container #login-row #login-column #login-box {
  margin-top: 2.0em;
  margin-bottom: 50px;
  max-width: 600px;
  /*height: 360px;*/
  max-height: 400px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;

}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}


#register .container #register-row #register-column #register-box {
  margin-top: 2.0em;
  margin-bottom: 4.0em;
  max-width: 650px;
  /*max-height: 800px;*/
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#register .container #register-row #register-column #register-box #register-form {
  padding: 30px;
}



